.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/compiler.xml
.idea/encodings.xml
target/
.allure/
.idea
*.iml
allure-results/
build/reports/
debug.log
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/test/.DS_Store
src/test/resources/.DS_Store
.DS_Store
